@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional base styles */
@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
